body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    background-attachment: fixed;
}
header{
	padding: 5px 0 5px 0;
	z-index: 1;
	position: fixed;
	width: 90%;
    margin:  1rem 5% 0 5%;
    background-color: rgba(42, 41, 41, 0.856);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
	text-align: center;
}
#can0{
	position: absolute;
	right:10%;
	top: 12rem;
	background-color: rgba(42, 41, 41, 0.856);
	border-radius: 20px;
	border: solid;
	border-color: #fff;
}
.logo{
    margin: 10px 0 0 20px;
    color: rgb(224, 146, 0);
    width: 50px;
	text-align: center;
	box-sizing: border-box;
	float: left;
	font-weight: 700;
	text-decoration: none;
}
nav
{
	float: right;
}
.clearfix
{
	clear: both
}
nav ul
{
	margin: 0 0 0 0;
	padding: 0;
	display: flex;
}
nav ul li
{
	list-style: none;	
}
nav ul li a
{
	display: block;
	margin: 0 0 0 5px;
	padding: 10px 20px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.856);
}

nav ul li a.active,
nav ul li a:hover
{
	background: rgb(224, 146, 0);
	color: rgba(255, 255, 255, 0.856);
	transition: 0.5s;
    border-radius: 5px;
}
#sec0{
	padding: 5rem 3rem 0 3rem;
}
#sec1{
	background-color: blue;
}
#sec2{
	background-color: aquamarine;
}
#sec3{
background-color: chartreuse;
}
.section{
	color:black;
	height: 1080px;
	max-width: 1920px;
	background-color: rgb(35, 35, 35);
}
#title{
	position: relative;
	color: rgb(224, 146, 0);
	left: 9%;
	top: 15rem;
	font-size: 2rem;
	z-index: 0;
	background-color: rgba(42, 41, 41, 0.856);
	padding: 20px;
	border-radius: 15px;
	border: 5px;
	border-style: solid;
}
@media (max-width: 1000px){
	#can0{
		top: 25rem;
		right: 35%;
	}
	#title{
		top: 7rem;
	}
}

@media (max-width: 800px){
	#sec0{
		padding: 5rem 0 0 0;
	}
	nav ul li a
	{
		margin: 5px 5px 0 5px;
	}
	#title{
		font-size: 1.5rem;
		left: 3rem;
		top: 7rem;
	}
	.menu-toggle
	{
		display: block;
		width: 40px;
		height: 40px;
		margin: 1px 3px 0 0;
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: rgb(224, 146, 0);
	}
	.menu-toggle:before
	{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 40px;
	}
		.menu-toggle.active:before
	{
		content: '\f00d';
        display: block;
	}
	nav
	{
		display: none;
	}
    nav.active
	{
		display: block;
        width: 100%;
	}
    nav.active ul
	{
        display: block;
	}
	#can0{
		right: 15%;
	}
}
@media (max-width: 500px){
	/* #can0{
		right: 15%;
	} */
}
@media (max-width: 450px){
	#can0{
		right: 1rem;
	}
	#title{
		font-size: 1rem;
	}
}
